.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
    
body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 1em;;
}

.container {
  background-color: hsl(0, 0%, 12%);
  margin: auto;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 0;
  max-width: 25rem;
  height: 650px;
}

img {
  border-radius: 100%;
  width: 25%;
}

.address {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-family: inherit;
}

.work {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-family: inherit;
}

.btn {
  text-decoration: none;
  display: block;
  background-color: hsl(0, 0%, 20%);
  border-style: none;
  padding: 1rem;
  margin: 20px 0 20px 0;
  color: hsl(0, 0%, 100%);
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
}

.btn:hover  {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}